profiles {
  standard {
    process.container = 'nextflow/bash:latest'
  }
  
  docker {
    process.container = 'nextflow/bash:latest'
    docker.enabled = true
  }
  
  batch {
    process.container = 'nextflow/bash:latest' 
    process.executor = 'awsbatch'
    process.queue = 'manual'
    //workDir = 's3://emritest'
    aws.region = 'us-east-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
  }
}
